@using BusinessEntity.Response
@model ProfesionalResponse


<title>Sacar turno con @Model.Titulo</title>
@*@{
    ViewData["Title"] = $"Sacar turno con {Model.Titulo}";
}*@

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
<style>
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
</style>
<div id="app">
    @*    Pag 0*@
    <transition name="fade" mode="out-in">
        <div class="page-one" id="page-one" v-if="pag == 0">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h4 class="information mt-4" style="text-align: center;margin-bottom:20px">
                                        @Model.Titulo
                                    </h4>
                                    @if (Model.Imagen != null)
                                    {
                                        <div style="text-align:center">
                                            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Imagen)}")" alt="Imagen" class="img-circle" style="width: 200px;" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="text-align:center">
                                            <img src="~/img/blank.webp" class="img-circle" style="width: 200px;" />
                                        </div>
                                    }

                                </div>
                                <div style="margin-top:17px">
                                    <p style="text-align:center">
                                        @Model.Descripcion
                                    </p>
                                </div>
                                <hr />

                            </div>
                        </div>
                        <div class="row" style="margin-top:15px;margin-bottom:-10px">
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-primary btn-block confirm-button" id="btnSiguiente" v-on:click="pag++">Reservar turno</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Pag 1 - Botones de selección de día y horario*@
        <div class="page-one" id="page-one" v-if="pag == 1">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <h5 class="information mt-4">Por favor, seleccione un día y horario</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div v-if="pag == 1 && fechaSeleccionada != ''">
                                        <div class="input-group">
                                            <input type="text" disabled class="form-control" v-on:click="getDiasBloqueados(true)" v-model="fechaSeleccionada" style="text-align:left">
                                            <button type="button" class="btn btn-success btn-edit" v-on:click="getDiasBloqueados(true)"><i class="fa-solid fa-pen-to-square" style="color:white"></i></button>
                                        </div>

                                    </div>
                                    <div v-else>
                                        <input type="button" class="form-control" placeholder="Día" v-on:click="getDiasBloqueados(false)" value="Día" style="text-align:left">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div v-if="pag == 1 && horaSeleccionada != ''">
                                        <div class="input-group">
                                            <input type="text" disabled class="form-control" v-on:click="setHorario()" v-model="horaSeleccionada" style="text-align:left">
                                            <button type="button" class="btn btn-success btn-edit" v-on:click="setHorario(true)"><i class="fa-solid fa-pen-to-square" style="color:white"></i></button>
                                        </div>
                                    </div>
                                    <div v-else-if="pag == 1 && fechaSeleccionada == ''">
                                        <input class="form-control" disabled type="button" placeholder="Horario" v-on:click="setHorario()" value="Horario" style="text-align:left">
                                    </div>
                                    <div v-else>
                                        <input class="form-control" type="button" placeholder="Horario" v-on:click="setHorario(false)" value="Horario" style="text-align:left">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-primary btn-block confirm-button" id="btnSiguiente" v-on:click="botonInicial()">Siguiente</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*  Pag 2 -  Paso Seleccionar dia*@
        <div class="page-two" id="page-two" v-else-if="pag == 2">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn-close" aria-label="Close" v-on:click="goFirstPage()"></button>

                            </div>
                        </div>
                        <h5 class="information mt-4">Por favor, seleccione un día</h5>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <template v-if="pag == 2">
                                    <Datepicker style="justify-content:center" v-model="fechaSeleccionada" model-type="dd/MM/yyyy" inline locale="es" :min-date="new Date()" :enable-time-picker="false" auto-apply :disabled-dates="fechasBloqueadas" :disabled-week-days="[6, 0]" />
                                </template>
                            </div>
                        </div>
                        <br />
                        <div v-if="pag == 2 && showError && fechaSeleccionada == ''">
                            <p style="text-align:center">Por favor, ingrese una fecha</p>
                        </div>
                        <div class="row">
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-primary btn-block confirm-button" v-on:click="getHorasDisponibles()" id="btnSiguiente">Siguiente</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*  Pag 3  Paso Seleccionar Horario*@
        <div class="page-three" id="page-three" v-else-if="pag == 3">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn-close" aria-label="Close" v-on:click="goFirstPage()"></button>
                            </div>
                        </div>
                        <div>
                            <h5 class="information mt-4">Por favor, seleccione un horario</h5>
                            <div class="row">
                                <div class="col-sm-12">
                                    @*                                    <h6 class="information mt-4">Mañana</h6>
                                    *@                                    <div class="form-group">
                                        <button v-for="hora in horasDisponibles"
                                                @* v-if="isHorarioManana(hora)"
                                                *@ :key="hora"
                                                type="button"
                                                class="form-control"
                                                v-on:click="selectHora(hora)">
                                            {{ hora }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @*                            <div class="row">
                            <div class="col-sm-12">
                            <h6 class="information mt-4">Tarde</h6>
                            <div class="form-group">
                            <button v-for="hora in horasDisponibles"
                            v-if="!isHorarioManana(hora)"
                            :key="hora"
                            type="button"
                            class="form-control"
                            v-on:click="selectHora(hora)">
                            {{ hora }}
                            </button>
                            </div>
                            </div>
                            </div>*@
                        </div>

                        <br />
                    </div>
                </div>
            </div>
        </div>
        @*Pag 4 - Paso Final*@
        <div class="page-four" id="page-four" v-else-if="pag == 4">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn-close" aria-label="Close" v-on:click="goFirstPage()"></button>
                            </div>
                        </div>

                        <h5 class="information mt-4">Resumen del turno:</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-top:10px">
                                    <label>Fecha:</label>
                                    <input class="form-control" disabled type="text" v-model="fechaSeleccionada">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="margin-top:10px">
                                <label>Hora:</label>
                                <input class="form-control" disabled type="text" v-model="horaSeleccionada">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="margin-top:10px">
                                <label>Profesional:</label>
                                <input class="form-control" disabled type="text" value="@Model.Titulo">
                            </div>
                        </div>
                        <br />
                        <h5 class="information mt-4">Por favor, ingresa tus datos personales</h5>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input class="form-control" type="text" v-model="pacNombre">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Apellido:</label>
                                    <input class="form-control" type="text" v-model="pacApellido">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-top:10px">
                                    <label>Teléfono:</label>
                                    <div class="input-group"> <input class="form-control" type="number" v-model="computedDataTelefono"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-top:10px">
                                    <label>Email:</label>
                                    <div class="input-group"> <input class="form-control" type="text" v-model="pacEmail"> </div>
                                </div>
                            </div>
                        </div>
                        <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">
                            <small class="agree-text"></small>
                            <a href="#" class="terms"></a>
                        </div>
                        <div v-if="pag == 4 && showError && (pacNombre == '' || pacApellido == '' || pacTelefono == '' || pacEmail == '' || fechaSeleccionada == '' || horaSeleccionada == '')">
                            <p style="text-align:center">Por favor, complete todos los campos</p>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-primary btn-block confirm-button" v-on:click="btnConfirmarTurno()">Confirmar turno</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Pag 5 - Cargando*@
        <div class="page-five" id="page-five" v-else-if="pag == 5">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">

                        <h5 class="information mt-4">Confirmando turno</h5>
                        <div class="row" style="margin-top:20px">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border text-primary" role="status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Pag 6 - Success o Error*@
        <div class="page-six" id="page-six" v-else-if="pag == 6">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4" v-if="reservaSuccess">
                    <div class="card-body">
                        <h5 class="information mt-4">¡Tu turno ha sido confirmado correctamente!</h5>
                        <div class="row" style="margin-top:20px">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <div class="success-message">
                                            El turno ha sido confirmado
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
                                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div> <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-1 py-4" v-else>
                    <div class="card-body">
                        <h5 class="information mt-4">No pudimos confirmar tu turno</h5>
                        <div class="row" style="margin-top:20px">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <div class="error-message">
                                            Error al generar el turno
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="swal2-icon swal2-info swal2-icon-show" style="display: flex;">
                                            <div class="swal2-icon-content">i</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Pag 7 - Datos del turno*@
        <div class="page-seven" id="page-seven" v-else-if="pag == 7">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <h5 class="information mt-4">Resumen del turno:</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-top:10px">
                                    <label>Fecha:</label>
                                    <input class="form-control" disabled type="text" v-model="reservaConfirmada.fecha">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="margin-top:10px">
                                <label>Hora:</label>
                                <input class="form-control" disabled type="text" v-model="reservaConfirmada.hora">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="margin-top:10px">
                                <label>Profesional:</label>
                                <input class="form-control" disabled type="text" v-model="reservaConfirmada.profesional">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" style="margin-top:10px">
                                <label>Paciente:</label>
                                <input class="form-control" disabled type="text" v-model="reservaConfirmada.cliente">
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto" style="margin-top:60px">
                            <button class="btn btn-primary btn-block confirm-button" v-on:click="">Guardar en Calendar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>
<!-- Agrega SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>

<script>
    const app = Vue.createApp({

        data() {
            return {
                //Pagina Actual
                pag: 0,
                //Fecha y Hora seleccionada
                fechaSeleccionada: "",
                horaSeleccionada: "",
                //Fechas y horas bloqueadas
                fechasBloqueadas: [], //"2023/08/15"
                horasDisponibles: [], //"09:00"
                //Variable para mostrar error
                showError: false,
                //Datos del paciente
                pacNombre: "",
                pacApellido: "",
                pacTelefono: "",
                pacEmail: "",
                //Response Ajax
                reservaSuccess: false,
                reservaConfirmada: {},


            }
        },
        computed: {
            computedDataTelefono: {
                get() {
                    return this.pacTelefono.toString()
                },
                set(val) {
                    this.pacTelefono = Number(val)
                }
            }
        },
        components: {
            Datepicker: VueDatePicker
        },
        methods: {
            isHorarioManana(hora) {
                if (!hora) {
                    return false; // O retorna lo que sea más adecuado para tu caso
                }

                const horaNumerica = parseInt(hora.split(":")[0]);
                return horaNumerica < 13;
            },
            getDiasBloqueados(edit) {
                const self = this; // Almacenar la referencia de "this"

                const Profesional = {
                    Profesional_Id: '@Model.Profesional_Id'
                }

                fetch('@Url.Action("GetDiasBloqueados", "Home")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(Profesional),
                })
                    .then(response => response.json())
                    .then(responseData => {
                        if (responseData.success) {
                            this.fechasBloqueadas = responseData.diasBloqueados;
                            if (edit) {
                                this.setDia(true)
                            } else {
                                this.setDia(false)

                            }
                        } else {
                            this.pag = 6; //Pag de error
                        }
                    })
                    .catch(error => {
                        this.pag = 6; //Pag de error
                        console.error('Error al enviar la solicitud:', error);
                    });
            },
            getHorasDisponibles() {

                const request = {
                    Profesional_Id: @Model.Profesional_Id,
                    Fecha: this.fechaSeleccionada
                }

                fetch('@Url.Action("GetHorasDisponibles", "Home")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(request),
                })
                    .then(response => response.json())
                    .then(responseData => {
                        if (responseData.success) {
                            this.horasDisponibles = responseData.horasDisponibles;
                            this.nextStep();
                        } else {
                            this.pag = 6; //Pag de error
                        }
                    })
                    .catch(error => {
                        this.pag = 6; //Pag de error
                        console.error('Error al enviar la solicitud:', error);
                    });
            },
            nextStep() {
                if (this.fechaSeleccionada == "") {
                    this.showError = true;
                } else {
                    this.botonInicial();
                }
            },
            setDia(edit) {
                if (edit) {
                    this.horaSeleccionada = "";
                }
                this.pag = 2;
            },
            setHorario(edit) {
                this.pag = 3;
            },
            selectHora(hora) {
                this.horaSeleccionada = hora;
                this.botonInicial();
            },

            goFirstPage() {
                this.pag = 1;
            },
            botonInicial() {
                if (this.fechaSeleccionada != "" && this.horaSeleccionada != "") {
                    this.pag = 4;
                }
                if (this.fechaSeleccionada == "" && this.horaSeleccionada != "") {
                    this.pag = 2;
                }
                if (this.fechaSeleccionada != "" && this.horaSeleccionada == "") {
                    this.pag = 3;
                }
                if (this.fechaSeleccionada == "" && this.horaSeleccionada == "") {
                    this.pag = 2;
                }
            },
            btnConfirmarTurno() {
                if (this.pacNombre == "" || this.pacApellido == "" || this.pacTelefono == "" || this.pacEmail == "" || this.fechaSeleccionada == "" || this.horaSeleccionada == "") {
                    this.showError = true;
                } else {
                    this.pag = 5;

                    //Obj: turno
                    const turno = {
                        Nombre: this.pacNombre,
                        Apellido: this.pacApellido,
                        Telefono: this.pacTelefono.toString(),
                        Email: this.pacEmail,
                        Fecha: this.fechaSeleccionada,
                        Hora: this.horaSeleccionada,
                        Profesional: '@Model.Titulo',
                        ProfesionalId: @Model.Profesional_Id
                                }

                    fetch('@Url.Action("ConfirmarTurno", "Home")', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json', // Indica que los datos son JSON
                        },
                        body: JSON.stringify(turno), // Convierte el objeto JSON a una cadena JSON
                    })
                        .then(response => response.json())
                        .then(responseData => {
                            if (responseData.success) {
                                this.reservaSuccess = true;
                                this.reservaConfirmada = responseData.turnoConfirmado
                            }
                            this.pag = 6;

                            setTimeout(() => {
                                this.pag = 7;
                            }, 3000)

                        })
                        .catch(error => {
                            this.pag = 6;
                            console.error('Error al enviar la solicitud:', error);
                        });

                }
            },

        }
    });

    app.mount('#app');
</script>